<table class="table bordered">
    <tr>
        <th>Movie List</th>
    </tr>
    <tr>
        <th>Title</th>
        <th>Actor</th>
        <th>Director</th>
        <th>Year</th>
        <th>Poster</th>
        <th>Trailer</th>
        <th>Menu</th>
    </tr>
    {{#each films }}
        <tr>
            <th>{{aitle}}</th>
            <th>{{actor}}</th>
            <th>{{director}}</th>
            <th>{{year}}</th>
            <th><img src="{{poster}}" width="150" height="200" ></th>
            <th><iframe src="https://www.youtube.com/embed/{{trailer}}" width="300" height="200" ></iframe></th>
            <th>
                <a class="btn btn-warning" href="/film/edit/{{_id}}">Edit</a>
                <a class="btn btn-danger" href="/film/delete/{{_id}}"
                onclick="return confirm("Do you want to delete this film ?');">Delete </a>
                
            

            </th>

        </tr>
    {{/each}}
</table>
